<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electroni-k</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/estiloregistro.css">
    <link rel="stylesheet" href="/css/listado.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>
<%- include ("../partials/headWeb.ejs")%>
<%- include ("../partials/menu.ejs")%>

<p><%=productos[0].ID%></p>
<p><%=productos[0].Nombre%></p>
<section class="main">
<section class="productos">
    <div class="contenedor">
        <h3 class="titulo">Productos</h3>
        <div class="contenedor-productos">
            <!--Introducir los productos a la pagina, se hace en el controlador donde llamo la pagina-->
            <!--en este caso todos los productos se insertan en un arreglo que esta guardado en la variable "productos"-->
           
            <!--para hacer que aparezcan nece ocuapar ->>             -->
           
            <%for(let i=0;i<productos.legth;i++){%>
                <div class="producto">
                    <div class="thumb">
                        <img src="img/productos/<%=productos[i].Imagenes[0]%>" alt="AcerAspire">
                    </div>
                    <div class="descripcion">
                        <a href="/products/<%=productos[i].ID%>"><p class="nombre"><%=productos[i].Nombre%></p></a>
                        <p class="categoria">$<%=productos[i].Precio%></p>
                    </div>
                </div>
            <% }%>

        </div>
    </div>
</section>
</section>

<%- include ("../partials/footer.ejs")%>
</body>
</html>