<%- include ("../partials/headHTML.ejs")%>
<%- include ("../partials/headWeb.ejs")%>
<%- include ("../partials/menu.ejs")%>

<p><%=productos[0].ID%></p>
<p><%=productos[0].Nombre%></p>

<%- include ("../partials/footer.ejs")%>